.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

*.jar

# vim temporal files
*.swp

bin/

*.class

# Erlang ignores
*.beam
*~
deps/
ebin/
.#*
erl_crash.dump
.erlang.mk
_build
_rel
.idea

# Jetbrains
out
*.iml
*.pyc

# Scala
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Node
node_modules
public
